.DS_Store
.idea
*.iml
venv
*.egg-info/
.pytest_cache
__pycache__
.coverage
htmlcov

# Don't exclude generated
!src/languager/languages.py

# Exclude build
dist

# Exclude coverage
coverage.*